@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /*custom cursor*/
  --flycursor: url(/custom-cursor.svg) 10 10, pointer;

  /*Farver */
  --color-primary: #fff1e3;
  --color-accent: #fa4500;
  --color-secondary: #4a073a;
  --color-secondary-2: #ead3c6;
  --color-black: #000000;
  --color-white: #ffffff;

  /*Typografi */
  --font-display: "Climate Crisis", sans-serif;
  --font-sans: "IBM Plex Mono", monospace;
}

@layer base {
  a,
  button {
    @apply cursor-(--flycursor);
  }
}

@layer components {
}

@layer utilities {
}

.outline-primary {
  color: transparent;
  -webkit-text-stroke: 1px var(--color-primary); /* Mobile default */
}

.outline-primary:hover {
  color: var(--color-primary);
  -webkit-text-stroke: 0;
}

@media (min-width: 768px) {
  .outline-primary {
    -webkit-text-stroke: 2px var(--color-primary); /* Desktop/tablet */
  }
}
