---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import RejseCard from "../components/RejseCard.astro";
import Tilmeld from "../components/Tilmeld.astro";
---

<MainLayout title="Titel">
  <main class="container mx-auto md:mx-0 bg-primary">
    <section class="w-full grid lg:grid-cols-12">
      <!-- Billede til venstre, fylder 6 kolonner på desktop -->
      <div class="lg:col-span-6 w-full h-full flex">
        <img
          src="/img/hero_img_result.webp"
          alt="Gruppebillede af glade elever på rejse"
          class="object-cover w-full h-full max-h-[375px] md:max-h-[520px] md:w-[520px]"
          style="object-position: left;"
        />
      </div>
      <!-- Tekst og heading til højre, fylder 6 kolonner på desktop -->
      <div class="bg-secondary lg:col-span-6 flex flex-col pl-4 ml-7 my-7">
        <Heading style="h3" stylingclasses="text-primary lg:text-right">
          HØJSKOLE I UDLANDET
        </Heading>
        <div
          role="presentation"
          class="w-56 h-[2px] bg-primary my-4 self-start lg:self-end rounded-full"
        >
        </div>
        <Heading
          style="h5"
          stylingclasses=" text-primary lg:pt-80 lg:text-right"
        >
          FIND DIT LIVS EVENTYR
        </Heading>
        <div class="pb-6 text-[14px]">
          <Text size="large" stylingclasses="text-accent "
            >COSTA RICA, MEXICO & COLOMBIA</Text
          >
          <Text size="large" stylingclasses="text-accent "
            >INDIEN, NEPAL, THAILAND, VIETNAM & SRI LANKA
          </Text>
          <Text size="large" stylingclasses="text-accent "
            >HAWAII, AUSTRALIEN, JAPAN, BALI & GILI ISLANDS
          </Text>
          <Text size="large" stylingclasses="text-accent "
            >MALDIVERNE, SRI LANKA, BALI & GILI ISLANDS
          </Text>
          <Text size="large" stylingclasses="text-accent "
            >BRASILIEN, BOLIVIA, COLOMBIA, ECUADOR, PERU & ARGENTINA
          </Text>
        </div>
      </div>
      <div
        class="lg:col-span-6 flex items-center justify-end gap-8 pr-8 pb-8 ml-7"
      >
        <img
          src="/img/arrow_secondary.svg"
          alt="Pil mod højre"
          class="w-180px] md:w-[400px] object-contain"
        />
        <Button
          variant="primary"
          stylingclasses="bg-accent text-primary text-[16px] uppercase tracking-wide hover:bg-secondary transition-all duration-300"
        >
          OVERBLIK & <br />PRISER
        </Button>
      </div>
      <Heading style="h3" stylingclasses="text-secondary text-center pt-6">
        HØJSKOLEOPHOLD
      </Heading>
      <!-- DIVIDER -->
      <div
        role="presentation"
        class="w-78 h-[2px] bg-secondary my-6 mx-auto rounded-full"
      >
      </div>
    </section>
    <!-- REJSER -->
    <section
      aria-label="Rejser - galleri"
      class="w-screen mx-0 overflow-hidden"
    >
      <div class="relative w-full overflow-hidden">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-0">
          <div class="w-full md:h-[700px]">
            <RejseCard
              title="BRASILIEN, COLOMBIA, COSTA RICA & MEXICO"
              img="/img/rejse_1_img_result.webp"
              bgImg="/img/rejse_2_bg.webp"
              alt_tekst="Regnskov og flod i Brasilien"
              href="/rejser/brasilien-amazonas"
              description="1"
            />
          </div>

          <div class="w-full md:h-[300px]">
            <RejseCard
              title="INDIEN, NEPAL, THAILAND, VIETNAM & SRI LANKA"
              img="/img/rejse_2_img_result.webp"
              bgImg="/img/rejse_2_bg.webp"
              alt_tekst="Strand og farverige huse i Colombia"
              href="/rejser/colombia-kariben"
              description="2"
            />
          </div>

          <div class="w-full md:h-[300px]">
            <RejseCard
              title="AUSTRALIEN, JAPAN, BALI & GILI ISLANDS"
              img="/img/rejse_3_img_result.webp"
              bgImg="/img/rejse_3_bg.webp"
              alt_tekst="Vulkan og regnskov i Costa Rica"
              href="/rejser/costa-rica-eko"
              description="3"
            />
          </div>

          <div class="w-full md:h-[300px]">
            <RejseCard
              title="HAWAII, AUSTRALIEN, JAPAN, BALI & GILI ISLANDS"
              img="/img/rejse_4_img_result.webp"
              bgImg="/img/rejse_4_bg.webp"
              alt_tekst="Ruiner og strand i Mexico"
              href="/rejser/mexico-kultur-kyst"
              description="4"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- INFOMØDE -->
    <section></section>
    <!-- TILMELD DIG  -->
    <Tilmeld < main />
  </main></MainLayout
>
