---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import RejseCard from "../components/RejseCard.astro";
import Tilmeld from "../components/Tilmeld.astro";
import Info from "../components/Info.astro";
---

<MainLayout title="Titel">
  <main class="mx-auto md:mx-0 bg-primary">
    <section class="w-full grid md:grid-cols-12">
      <!-- Billede til venstre, fylder 6 kolonner på desktop -->
      <div class="md:col-span-5 w-full h-full flex">
        <img
          src="/img/hero_img_result.webp"
          alt="Gruppebillede af glade elever på rejse"
          class="object-cover w-full h-full max-h-[375px] md:max-h-[600px] md:max-w-full"
          style="object-position: left;"
        />
      </div>
      <!-- Tekst og heading til højre, fylder 6 kolonner på desktop -->
      <div
        class="bg-secondary flex flex-col pl-4 ml-7 my-7 md:my-0 md:ml-0 md:col-span-6"
        id="stagger"
      >
        <Heading style="h3" stylingclasses="text-primary md:text-left">
          HØJSKOLE I UDLANDET
        </Heading>
        <div
          role="presentation"
          class="w-56 h-[2px] bg-primary my-4 self-start md:self-start rounded-full md:mb-7 md:-mt-2 md:w-100"
        >
        </div>
        <Heading
          style="h5"
          stylingclasses=" text-primary pb-2 md:pt-1 md:text-left md:pb-5"
        >
          FIND DIT LIVS EVENTYR
        </Heading>
        <ul class="pb-6 text-[18px] text-accent staggeranimation">
          <li class="opacity-0">COSTA RICA, MEXICO & COLOMBIA</li>
          <br />
          <li class="opacity-0">
            INDIEN, NEPAL, THAILAND, VIETNAM & SRI LANKA
          </li>
          <br />
          <li class="opacity-0">
            HAWAII, AUSTRALIEN, JAPAN, BALI & GILI ISLANDS
          </li>
          <br />
          <li class="opacity-0">MALDIVERNE, SRI LANKA, BALI & GILI ISLANDS</li>
          <br />
          <li class="opacity-0">
            BRASILIEN, BOLIVIA, COLOMBIA, ECUADOR, PERU & ARGENTINA
          </li>
        </ul>
      </div>
      <div
        class="flex items-center justify-end gap-8 pr-8 pb-8 ml-7 md:col-span-7 md:col-start-5 md:pr-0 md:pt-5"
      >
        <img
          src="/img/arrow_secondary.svg"
          alt="Pil mod højre"
          class="w-[180px] md:w-[300px] object-contain"
        />
        <Button
          variant="primary"
          stylingclasses="bg-accent text-primary text-[16px] uppercase tracking-wide hover:bg-secondary transition-all duration-300 md:text-[36px]"
        >
          OVERBLIK &<br class="md:hidden" /> PRISER
        </Button>
      </div>
      <Heading
        style="h3"
        stylingclasses="text-secondary text-center pt-6 md:col-span-12 md:mt-10"
      >
        HØJSKOLEOPHOLD
      </Heading>
      <!-- DIVIDER -->
      <div
        role="presentation"
        class="w-78 h-[2px] bg-secondary -mt-1 my-6 mx-auto rounded-full md:col-span-12 md:w-155 md:-mt-2"
      >
      </div>
    </section>
    <!-- REJSER -->
    <section
      aria-label="Rejser - galleri"
      class="w-screen mx-0 overflow-hidden"
    >
      <div class="relative w-full overflow-hidden">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-0">
          <div class="w-full md:h-[700px]">
            <RejseCard
              title="BRASILIEN, COLOMBIA, COSTA RICA & MEXICO"
              img="/img/rejse_1_img_result.webp"
              bgImg="/img/rejse_2_bg.webp"
              alt_tekst="Regnskov og flod i Brasilien"
              href="/rejser/brasilien-amazonas"
              description="1"
            />
          </div>

          <div class="w-full md:h-[300px]">
            <RejseCard
              title="INDIEN, NEPAL, THAILAND, VIETNAM & SRI LANKA"
              img="/img/rejse_2_img_result.webp"
              bgImg="/img/rejse_2_bg.webp"
              alt_tekst="Strand og farverige huse i Colombia"
              href="/rejser/colombia-kariben"
              description="2"
            />
          </div>

          <div class="w-full md:h-[300px]">
            <RejseCard
              title="AUSTRALIEN, JAPAN, BALI & GILI ISLANDS"
              img="/img/rejse_3_img_result.webp"
              bgImg="/img/rejse_3_bg.webp"
              alt_tekst="Vulkan og regnskov i Costa Rica"
              href="/rejser/costa-rica-eko"
              description="3"
            />
          </div>

          <div class="w-full md:h-[300px]">
            <RejseCard
              title="HAWAII, AUSTRALIEN, JAPAN, BALI & GILI ISLANDS"
              img="/img/rejse_4_img_result.webp"
              bgImg="/img/rejse_4_bg.webp"
              alt_tekst="Ruiner og strand i Mexico"
              href="/rejser/mexico-kultur-kyst"
              description="4"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- INFOMØDE -->
    <section
      class="mt-20 mb-10 md:mb-0 relative bg-cover bg-center bg-no-repeat min-h-[90vh] md:min-h-[200vh] flex items-center justify-center md:items-start md:pt-50"
      style="background-image: url('/img/baggrund-info.jpg');"
    >
      <div class="parallaxelement">
        <Info />
      </div>
    </section>
    <!-- TILMELD DIG  -->
    <Tilmeld />
  </main>
</MainLayout>

<script>
  /* Import af Motion One bibliotek */
  import { animate, stagger, inView, scroll } from "motion";

  animate("body", { opacity: [0, 1] }, { duration: 1.3 });

  /* Stagger animation */
  inView("#stagger", () => {
    animate(
      ".staggeranimation li",
      {
        opacity: [0, 1],
        transform: ["translateY(8px)", "translateY(0px)"],
      },
      {
        delay: stagger(0.5, { startDelay: 0.4 }),
        duration: 0.6,
      },
    );
  });

  window.addEventListener("load", () => {
    const element = document.querySelector(".parallaxelement");
    if (!element) return;

    if (window.matchMedia("(min-width: 768px)").matches) {
      scroll(animate(element, { y: [0, 300] }), {
        target: element,
        offset: ["start end", "end start"],
      });
    } else {
      scroll(animate(element, { y: [0, 60] }), {
        target: element,
        offset: ["start end", "end start"],
      });
    }
  });
</script>
