---
// Henter parametrene fra Astro.props
const { size = "brødtekst", stylingclasses = "" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  small: "text-[12px] md:text-[20px] font-sans",
  large: "text-[15px] md:text-[30px] font-sans pb-4",
};
---

<p class:list={[sizeClasses[size], stylingclasses]}><slot /></p>
